* {
  box-sizing: border-box;
}

:root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    overflow-y: auto;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .score-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .score-container > p {
    background-color: #222;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    font-size: larger;
  }

  #score {
    font-size: x-large;
    font-weight: bold;
  }
  
  #colorBox {
    width: 200px;
    height: 200px;
    margin: 35px auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  }
  
  .color-options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
  
  .color-option {
    height: 75px;
    max-width: 200px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
  }

  .color-option:hover {
    border: 2px solid rgb(85, 73, 0);
  }

  #gameStatus {
    position: absolute;
    left: 50%;
    translate: -50%;
    font-size: 1.5em;
    font-weight: 900;
    animation: .25s ease-in-out 4;
  }

  #gameStatus.right {
    animation-name: right-option;
    color: green;
  }
  
  #gameStatus.wrong {
    color: red;
    animation-name: wrong-option;
  }
  
  #newGameButton {
    margin-top: 20px;
    padding: 10px 20px;
    background: #00a9ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #newGameButton:hover {
    background: #007acc;
  }
  

  @keyframes wrong-option {
    33.3% { transform: translateX(-20px); }
    66.6% { transform: translateX(20px); }
  }

  @keyframes right-option {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }